html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: #222;
}


.sun{
  transform-origin: center;
	position: absolute;
	margin:auto;
  	width:50px;
  	height:50px;
  	top:0;
  	bottom:0;
  	left:0;
  	right:0;
    border-color: orange;
  	border-width: 8px;
  	border-style: solid;
  	border-radius: 50%;
  	background-color: yellow;
  	box-shadow: 0 0 128px yellow;
}

#sun:after {
  transform-origin:center center;
 
  box-shadow: 0 0 128px yellow;
  margin:auto;
  width:500px;
  height:50px;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.planet,.planet:afer{
  position:absolute;
  content:"";
  width:15px;
  height:15px;
  border-radius:50%;
  transform-origin:center;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


#mercury {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: red
  animation:planetrorate 4s linear infinite;
}

#mercury:after {
  top:100px;
  left:100px;
  border-radius: 50px;
  
}


#venus {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetrotate 8s linear infinite;
}
#venus:after {
  top:150px;
  left:150px;
  background: radial-gradient(circle, #DB9969, #69462E);
}
#earth {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetrotate 16s linear infinite;
}
#earth:after {
  top:200px;
  left:200px;
  background: radial-gradient(circle, #5DF505, #114FFA);
}
#mars {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetrotate 20s linear infinite;
}
#mars:after {
  top:250px;
  left:250px;
  background: radial-gradient(circle, #FA9911, #69410A);
}
#jupiter {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetrotate 29s linear infinite;
}
#jupiter:after {
  top:300px;
  left:300px;
  background: radial-gradient(circle, #917041, #5C421D);
}
#saturn {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;:350px;
  left:350px;
  background: radial-gradient(circle, #E08D19, #EBAC54);
  animation:planetrotate 40s linear infinite;
}
  
}
#uranus:after {
  top:400px;
  left:400px;
  background: radial-gradient(circle, #0780E3, #062C9C);
}
#neptune {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetrotate 49s linear infinite;
}
#neptune:after {
  top:450px;
  left:450px;
  background: radial-gradient(circle, #0541F5, #4105F5);
}


#mercuryorbit {
  width: 140px;
  height: 140px;
  animation:spin-right 4s linear infinite;
  animation:spin-right 4s linear infinite;
}

#venusorbit {
  width: 210px;
  height: 210px;
  animation:spin-right 8s linear infinite;
  animation:spin-right 8s linear infinite;
}

.orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    border-width: 2px;
    border-style: double;
    border-left: 4px solid white;
  	border-top : 4px solid white;
 	border-right : 2px solid white;
  	border-bottom : 2px solid white;
    border-radius: 50%;
    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;

}


@keyframes planetmove{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes spin-right {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

